[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
praw = "==6.2.0"
requests = "==2.21.0"
sqlalchemy = "==1.3.3"
pycycle = "*"

[requires]
python_version = "3.7"
